<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/top.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/bottom.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <title>주식</title>
    <script src="/javascripts/lr.js"></script>
    <style>
        .dn {
            display: none !important;
        }
        .df {
            display: flex !important;
        }
        .db {
            display: block !important;
        }
        .h200 {
            height: 200px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .orientleft {
            transform: rotate(-90deg);
            transform-origin:160px 160px;
        }

        .orientright {
            transform: rotate(90deg);
            transform-origin:230px 230px;
        } 

        * {
            overflow-x: hidden;
            box-sizing: border-box;
        }
        body {
            padding: 0;
            margin: 0;
            width: 100vw;
            background-color: #000;
            position: relative;
            overflow: hidden;
        }

        .bottom_price_change .star {
            width: 100px;
            height: 25px;
            border-radius: 25px;
            color: black;
            font-family: 'Nanum Gothic', sans-serif;
            position: absolute;
            right: 5px;
            font-weight: bold;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;
            padding: 0 3px 0 3px;
        }
        .bottom_price_change .star.new {
            background-color: #65d1ff;
        }
        .bottom_price_change .star.gr {
            background-color: #a7a7a7;
        }
    </style>
</head>
<body>
    <div class="on_bottom_top"></div>

    <div class="top">
        <div class="explain">
            <span style="font-size: 24px; color: white; display:block; margin: 0;font-weight: bold;">주식</span>
            <span id="today_date"><%= today_date %></span>
        </div>
        <div class="mainsearchb">
            <div class="searchb">
                <div class="sch">
                    <i class="material-icons" style="margin-right: 5px; font-size: 19px;width:20px;">search</i>
                    <input autocomplete="off" type="search" name="search" id="finance_search" placeholder="검색">
                    <div class="xb"><i class="material-icons" style="font-size:10px;">clear</i></div>
                </div>
            </div>
            <div id="search_cancel">취소</div>
        </div>
    </div>

    <div class="main h200">
        <div class="main_blind"></div>
        <!-- <div class="loader"></div> -->
        <div class="gauge"><div class="bar" style="width: 0%;"></div></div>
        <span class="g_status">0%</span>
    </div>

    <div class="bottom">
        <div id="bottom_close_button"><i class="material-icons" style="font-weight: bold; font-size: 17px;">clear</i></div>
        <div class="bottom_main_name">
            <div>
                <div class="main_name"></div>
                <div class="long_name"></div>
            </div>
        </div>
        
        <div class="bottom_price_change">
            <div class="bottom_market_price"></div>
            <div class="bottom_market_change"></div>
            <div class="star gr">관심 종목에 제거</div>
        </div>

        <div class="bottom_graph">
        </div>

        <div class="bottom_info">
            <table class="bottom_info_table bit1">
                <tbody>
                    <tr>
                        <td class="info_expl">개장가</td>
                        <td class="info_value"><span id="MarketOpen">-</span></td>
                    </tr>
                    <tr>
                        <td class="info_expl">최고가</td>
                        <td class="info_value"><span id="MarketDayHigh">-</span></td>
                    </tr>
                    <tr>
                        <td class="info_expl">최저가</td>
                        <td class="info_value"><span id="MarketDayLow">-</span></td>
                    </tr>
                </tbody>
            </table>
            <table class="bottom_info_table bit2">
                <tbody>
                    <tr>
                        <td class="info_expl">거래량</td>
                        <td class="info_value"><span id="MarketVolume">-</span></td>
                    </tr>
                    <tr>
                        <td class="info_expl">PER</td>
                        <td class="info_value"><span id="trailingPE">-</span></td>
                    </tr>
                    <tr>
                        <td class="info_expl">시가 총액</td>
                        <td class="info_value"><span id="marketCap">-</span></td>
                    </tr>
                </tbody>
            </table>
            <table class="bottom_info_table bit3">
                <tbody>
                    <tr>
                        <td class="info_expl">52주 최고</td>
                        <td class="info_value"><span id="fiftyTwoWeekHigh">-</span></td>
                    </tr>
                    <tr>
                        <td class="info_expl">52주 최저</td>
                        <td class="info_value"><span id="fiftyTwoWeekLow">-</span></td>
                    </tr>
                    <tr>
                        <td class="info_expl">평균 거래량</td>
                        <td class="info_value"><span id="averageVolume">-</span></td>
                    </tr>
                </tbody>
            </table>
            <table class="bottom_info_table bit4">
                <tbody>
                    <tr>
                        <td class="info_expl">수익률</td>
                        <td class="info_value"><span id="dividendYield">-</span></td>
                    </tr>
                    <tr>
                        <td class="info_expl">베타</td>
                        <td class="info_value"><span id="beta">-</span></td>
                    </tr>
                    <tr>
                        <td class="info_expl">주당순이익</td>
                        <td class="info_value"><span>-</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="foot">
        <img src="/images/yahoo_finance.png" alt="">
    </div>

    <script src="/javascripts/easteregg.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/lightweight-charts.standalone.production.js"></script>
    <script src="/javascripts/start_finance_info.js"></script>
    <script src="/javascripts/bottom.js"></script>
    <script>
        window.onload = () => {
            get_finance_info();
        }
        document.body.addEventListener("scroll touchmove mousewhell", (event) => {
            event.preventDefault();
            event.stopPropagation();
            return false;
        });
        s_top.addEventListener("scroll touchmove mousewhell", (event) => {
            event.preventDefault();
            event.stopPropagation();
            return false;
        });
    </script>
</body>
</html>