<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/top.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/bottom.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <title>주식</title>
    <script src="/javascripts/lr.js"></script>
    <style>
        .dn {
            display: none !important;
        }
        .df {
            display: flex !important;
        }
        .db {
            display: block !important;
        }
        .h200 {
            height: 200px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .orientleft {
            transform: rotate(-90deg);
            transform-origin:160px 160px;
        }

        .orientright {
            transform: rotate(90deg);
            transform-origin:230px 230px;
        } 

        * {
            overflow-x: hidden;
            box-sizing: border-box;
        }
        body {
            padding: 0;
            margin: 0;
            width: 100vw;
            background-color: #000;
            position: relative;
            overflow: hidden;
        }

    </style>
</head>
<body>
    <div class="on_bottom_top"></div>

    <div class="top">
        <div class="explain">
            <span style="font-size: 24px; color: white; display:block; margin: 0;font-weight: bold;">주식</span>
            <span id="today_date"><%= today_date %></span>
        </div>
        <div class="mainsearchb">
            <div class="searchb">
                <div class="sch">
                    <i class="material-icons" style="margin-right: 5px; font-size: 19px;width:20px;">search</i>
                    <form action="/" onsubmit="form_search(event);">
                        <input autocomplete="off" type="search" name="search" id="finance_search" placeholder="검색">
                    </form>
                    <div class="xb"><i class="material-icons" style="font-size:10px;">clear</i></div>
                </div>
            </div>
            <div id="search_cancel">취소</div>
        </div>
    </div>

    <div class="main h200">
        <div class="main_blind"></div>
        <div class="loader"></div>
        </div>
    </div>

    <div class="bottom">
        <div id="bottom_close_button"><i class="material-icons" style="font-weight: bold; font-size: 17px;">clear</i></div>
        <div class="bottom_main_name">
            <div>
                <div class="main_name"></div>
                <div class="long_name"></div>
            </div>
        </div>
        
        <div class="bottom_price_change">
            <div class="bottom_market_price">7,600.00</div>
            <div class="bottom_market_change green price_green">+4,000</div>
        </div>

        <div class="bottom_graph">
        </div>
    </div>

    <div class="foot">
        <img src="/images/yahoo_finance.png" alt="">
    </div>

    <script src="/javascripts/update.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/lightweight-charts.standalone.production.js"></script>
    <script src="/javascripts/start_finance_info.js"></script>
    <script src="/javascripts/bottom.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        window.onload = (e) => {
            get_finance_info();
        }
        document.body.addEventListener("scroll touchmove mousewhell", (event) => {
            event.preventDefault();
            event.stopPropagation();
            return false;
        });
        s_top.addEventListener("scroll touchmove mousewhell", (event) => {
            event.preventDefault();
            event.stopPropagation();
            return false;
        });
    </script>
</body>
</html>